video {
    max-width: 900px;
}

img {
    width: 20vw;
}
.btn-container {
    margin-top: 50px;
    width: 100%;
    max-width: 900px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 2px 7px;
    cursor: pointer;
    background-color: black;
    color:white;
    transform: scale(1.2);
    border: 2px solid transparent;
    transition: all .2s linear;
}
.btn{
    border: 2px solid black;
    background-color: white;
    color: black;

}