.App {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
}

.image-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}