

.card {
background-color: white;
display: flex;
flex-direction: column;
box-shadow: 0px 0px 9px 0px #000000;
gap: 5px;
padding: 20px;
width: 300px;
height: 200px;
justify-content: center;
}

span {
    font-size: 18px;
    font-weight: 500;
}